#body_link {
  display:block;
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:0;
}

.login-view, .register-view {
  display: none;
}

body.login {
  padding-top: 150px;
  background: black;
  text-align: center;
  font-size: 3em;
}

body.register {
  background-image: url('https://s3.amazonaws.com/ct-hn/event.jpg');
  background-position: center top;
  background-size: 100% auto;
  background-color: #23211f;
  background-repeat: no-repeat;
}

.register-content {
  position: fixed;
  top: 410px;
  right: 55px;
  text-align: center;
}

.register-event-email-error {
  color: #FF0000;
  font-size: 2em;
}

#register-event-emailinput, #register-event-nameinput {
    background: #11100f;
    opacity: 0.9;
    padding: 20px 20px;
    line-height: 1.2em;
    width: 500px;
    margin-top: 50px !important;
    margin: 0 auto;
    color: white;
    font-size: 2.8em;
    border: 3px solid white;
  }

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

#add-round {
  position: relative;
  z-index: 1;
  left: 900px;
  width: 200px;
  margin-top: 940px;
}


#add-round img, #want-round img {
  width: 120%;
}

.image-nav {
  position:absolute;
  width: 200px;
  height: 950px;
  top:-1000px;
  background: url('https://s3.amazonaws.com/ct-hn/right.png') no-repeat center center;
  opacity: 0.7;
}

#image-nav-buttons {
  position:absolute;
  width: 100%;;
  height: 40px;
  top:-45px;
  text-align: center;
  z-index: 1;
}

#image-nav-buttons img {
  padding: 5px;
}

#image-nav-left {
  left: 0px;
  background: url('https://s3.amazonaws.com/ct-hn/left.png') no-repeat center center !important;
}

#image-nav-right {
  right: 0px;
}

#image-nav-buttons img {
  opacity: 0.5;
}

#image-nav-buttons img.selected {
  opacity: 1;
}


.email-view {
  background: black;
}

.email-details {
  color: #676767;
  text-align: center;
  font-size: 1.7em;
  line-height: 1.1em;
  font-weight: 400;
}
body.email {
  background: black;
}

#email-box {
  width: 93% !important;
  background: black;
}

#toemail {
  width: 100% !important;
  background: black !important;
}
#toemail p {
  width: 95% !important;
  background: black !important;
  padding: 10px;
}
#emailed {
  background: black !important;
  text-align: center;
}

.now-view {
  width: 100% !important;
  background: black !important;
}
.now-view p {
  width: 100% !important;
  background: black !important;
}

.fancy-button {
  padding: 10px;
  color: black;
  background: #d7d7d7 !important;
  width: 250px;
  border: 4px solid black !important;
  margin: 0 auto;
}


.background-b {
  filter:blur(14px);
  -o-filter:blur(14px);
  -ms-filter:blur(14px);
  -moz-filter:blur(14px);
  -webkit-filter:blur(14px);
}

.button-bar {
  border-bottom: 3px solid #474747;
  float: left;
  width: 93%;
  margin-left: 40px;
}

.button-bar div {
  background: #474747;
  color: white;
    display: table;
    margin: 0 auto;
    padding: 5px 60px;

}

.button-bar div a {
  text-decoration: none;
  color: white;
}

#loading {
  background:white;
  background:rgba(255,255,255,0.8);
  position: fixed;
  width:100%;
  height:100%;
  z-index:1000;
  text-align: center;
  padding-top: 500px;
  font-size: 5em;
  top:0px;
  display:none;
}

#empty-cart {
  font-size: 3em;
  text-align: center;
  display: none;
  line-height: 1.5em;
  height: 250px;
}

#empty-cart p {
  color: #b1b1b1;
  font-size: 0.8em;
}

#empty-cart h3 {
  font-size: 1em;
}


#header-bar, #designer-header-bar {
  background: #474747;
  padding: 57px;
  color: white;
  font-size: 3.8em;
  font-weight: 700;
  padding-top: 47px;
  top: 0;
  z-index: 90;
  text-transform: uppercase;
  border: 4px solid #afadad;
}

#designer-header-bar, #header-bar {
  background: #474747 !important;
  text-align:center;
  position: fixed !important;
  width: 1134px !important;
  padding-left: 0;
}



#header-bar-right {
  float: right;
}

#list-page-info {
  text-align: center;
  padding: 70px;
}

body.list {
background: url('https://s3.amazonaws.com/ct-hn/jag2.png') repeat-x #ececec;
background-position: 100px 865px;
}

#header-title, #want-it-title {
  text-align: center;
  padding: 60px 0px;
  color: #cccccc;
  font-size: 4em;
  margin-top: 0px;
  text-transform:uppercase;
}

#take-some-time-title {
  text-align: center;
  padding: 0px 0px;
  color: #949494;
  font-size: 1.5em;
  text-transform:uppercase;
  font-weight: 400;
  padding-right: 40px;
  padding-bottom: 80px;
}

.rec-product {
  text-align: left;
  height: 577px;
  width: 50%;
  float: left;
}


#designer-box .collapse{
  padding: 10px;
  color: #b1b1b1;
  font-size: 1.5em;
  line-height: 1.2em;
  padding-top:20px;
  zoom: 2;
  height: inherit;
  display: none;
  padding-right: 5px !important;
  margin-right: 0px !important;
  overflow:hidden;
  background:white;
}

#designer-box .collapse dt {
width: 200px;
float: left;
font-weight: 700;
}

#designer-box .collapse_wine {
  padding: 10px;
  color: #b1b1b1;
  font-size: 1.2em;
  line-height: 1.2em;
  padding-top:20px;
  padding-right: 0px !important;
  margin-right: 0px !important;
  zoom: 2;
  background: white;
  padding-right: 5px !important;
  margin-right: 0px !important;
  overflow:hidden;
  background:white;
}


#rec-area.hidden h2 {
  display: none;
}
#rec-area h2 {
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 4em;
  text-align: center;
  margin-top: 80px;
  text-transform: uppercase;
  line-height: normal;

}
.rec-image img {
  border: 8px solid #dedede;
  padding: 32px;
  background: white;
  width: 80%;
}

.rec-header, .rec-footer {
  position: relative;
  font-size: 2em;
  color: #474747;
}

.rec-header {
  top: 53px;
}

.rec-footer {
  top: 316px;
}


.rec-product h3 {
  text-transform: uppercase;
}

.rec-product h4 {
  color: #666 !important;
}
.render-description-button, .render-sizes-button {
  color: white !important;
  text-align: left !important;
  background: #999999 !important;
  font-size: 3em !important;
  font-weight: 700;
    margin-bottom: 20px !important;

}

.render-description-button span {
    text-decoration: underline;

}

.render-description-button, .render-sizes-button {
  background: #999999;
  padding: 30px;
  color: #afadad;
  font-size: 4em;
  z-index: 90;
  margin-bottom: 200px;
  text-align: center;
}

.rec-image {
  padding: 15px;
  height: 500px;
  text-align: center;
}

.rec-product-0 .rec-image, .rec-product-2 .rec-image {
  padding-left: 30px;
}

.rec-product-1 .rec-image, .rec-product-3 .rec-image {
  padding-right: 30px;
}

.rec-info {
  padding: 20px;
  float: left;
  width: 87%;
  text-align: center;
}

.rec-info h3 {
  font-size: 3.1em;
  font-weight: 400;
}

.rec-info h4 {
  font-size: 2.8em;
  line-height: 1.1em;
  margin-top: 15px;
  font-weight: 400;
  color: #b1b1b1;
}

#designer-overlay {
  position: absolute;
  top:0;
  height: 30px;
  text-align: center;
  background: green;
  width: 100%;
  padding: 30px;
  font-size: 3em;
  text-shadow: 3px 3px 0px black;
  color: white;
  display: none;
}

.designer-image {
  padding: 5px;
  float:right;
}

.designer-image img {
  width: 95px;
}

#im_done {
  background: black;
  width: 195px;
  height: 30px;
  padding: 20px;
  padding-top:55px;
  text-align: right;
  color: white;
  font-size: 3em;
  box-shadow: 0px 0px 20px #000;
  margin-top: 550px;
  z-index: 999;
  position: absolute;
  bottom: 0px;
  right: 0px;
  box-shadow: 0px 0px 40px #000;
}

  #emailinput, #nameinput, #register-emailinput, #load-emailinput {
  background: #4f4f4f;
    padding: 10px 20px;
    line-height: 1.2em;
    width: 500px;
    margin-top: 50px !important;
    margin: 0 auto;
    color: white;
    font-size: 0.8em;
    border: 3px solid white;
  }
  #email-input-box {
  width: 100%;
  float: left;
  text-align: center;
    color: #676767;
  text-align: center;
  font-size: 1.7em;
  line-height: 1.1em;
  font-weight: 400;
  }

.email-error, .register-email-error, .load-email-error {
  color: red;
  
}

.load-email-error, .register-email-error {
  color: #FF0000;
  font-size: 0.5em;
  margin: 0 0 20px;
}

#emailed {
  font-size: 3.8em !important; 
}
  #toemail, #emailed {
    font-size: 2.5em;
    line-height: 1.4em;
    color: #5A5A5A;
    padding-right: 0px !important;
    margin-right: 0px !important;
  }

  .now-view {
    padding-right: 0px !important;
    margin-right: 0px !important;
    background: white;
  }

  #emailed {
  display: none;
  }

body.list #sub-nav {
  height: 700px !important;
}

body.designers {
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: 70% auto;
}

#designer-box {
  opacity: 0.8;
  padding: 30px;
  margin-top: -282px;
  padding-right: 30px;
}
#designer-content {
  width: 66%;
  padding-right: 45px;
  border-right: 4px solid #636061;
}

#designer-title {
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  font-size: 3.5em;
  line-height: 1.2em;
  text-align:left;
  word-wrap: keep-all;
}



.list-view, .email-view {
  display: none;
}

#email-box {
  padding: 50px;
}
#designer-price {
  color: #5b5b5b !important;
}
  #designer-description, #designer-price {
    letter-spacing:-1px;
    color: #999999;
    font-size: 3em;
    line-height: 1.2em;
    margin-top: 10px;
    text-align: left;
    text-transform: none;
  }

  #share-button a {
  text-decoration: none;
  color: white;
  }

/* top nav */


#logo-box {
  background: black;
  text-align: left;
  padding: 34px;
  padding-left: 40px;
  margin-top: 1170px;
}

#logo-box img {
  width: 40%;
}

/* bottom nav */

#sub-nav {
  bottom:0;
  position:fixed;
  z-index:90;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
    (document.documentElement.clientHeight-this.offsetHeight)));
    height:210px;
    width: 100%;
    right: 0px;
    text-align: right;
  }


.gfont {
  font-family: "futura-pt", sans-serif;
}
.bold {
  font-weight: 700;
}

.large-button {
  background: black;
  width: 100%;
  height: 112px;
  padding: 15px;
  text-transform:uppercase;
}

#rec-area {
  padding-top:1px;
  color: white !important; 
  padding-bottom: 100px;
  background: url('https://s3.amazonaws.com/ct-hn/jag.png') repeat-x black;
}

#rec-area.hidden {
  background: white !important;
}

#rec-area.hidden {
  height: 220px;
}
.hidden #recommendations {
  display: none;
}

#tap-button, #total-bar {
  width: 100%;
  text-align: center;
  color: white;
  height: 130px;
  font-size: 2.2em;
  position: absolute;
  bottom: 150px;
}

#bottom-nav {
  position: absolute;
  bottom: -127px;
  width: 100%;
}

#total-bar {
  width: 98% !important;
  font-size: 1.8em;
}
#list-button {
  border-left: 0px !important;
  border-right: 0px !important;
  font-size: 1.8em;
  width: 41% !important;
}
.menu-3 {
  float: left;
  width: 26%;
  text-align: center;
  text-transform:uppercase;
}
.menu-3 a, .menu-3 a:hover, .menu-3 a:visited {
  color: black !important;
  text-decoration: none;
}

.menu-3 div{
  padding:30px;
  font-size: 1.2em;
  margin: 0 auto;
}
.fancy-button.menu-3 {
  border-width: 6px !important;
  padding: 60px 10px;
  font-size: 1.7em;
}

.fancy-button.menu-3 a:active, #header-bar a:active, #designer-header-bar a:active {
  color: grey !important;
}
#header-bar a, #header-bar a:hover, #designer-header-bar a, #designer-header-bar a:hover {
  color: white;
  text-decoration: none;
}

#continue-details {
  width: 220px;
  float: left;
  height: 60px;
  padding: 20px;
  font-size: 2em;
  line-height: 1.3em;
  text-align: left;
  color: black;
  text-shadow: 3px 3px 0px #eee, 4px 4px 0px #707070;
}

#share-button {
  background: #d02323;
  width: 295px;
  height: 30px;
  padding: 20px;
  padding-top:55px;
  text-align: right;
  color: white;
  font-size: 3.5em;
  box-shadow: 0px 0px 20px #000;
  float: right;
}

body {
  zoom: 0.5em;
}

.brand {
  float: left;
  padding-right: 8px;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}


#total-area, #total-area-right {
  width: 50%;
  float: left;
  font-size: 1.6em;
  padding-top: 40px;
}

#total-area {
  text-align: left;
}
#total-area-right {
  text-align: right;
}

  #designer #designer-image {
    width: 100%;
    height: 800px;
  }
  body.list #sub-nav {
  height: 283px !important;
  }
 
  body.home {
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center -30px;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    background-image: url('https://s3.amazonaws.com/ct-hn/hnb.png');
  }




  .designer-list-item {
    width: 500px;
    height: 500px;
    margin: 20px;
    float: left;
    padding: 10px;
    background-repeat: no-repeat;
    background-color: #dedede;
    background-size: 94%;
  }

  .designer-list-item.shortlist {
  background-color: black !important;
  }

  .view-buton {
  margin-left: 8px !important;
  }

  .view-buton, .remove-buton {
    width: 192px;
    float:left;
    margin: 0px;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 25px;
    font-size: 2.7em;
    position: relative;
    bottom:5px;
    text-align: center;
    text-transform: uppercase;
    padding-top:53px;
    padding-bottom: 47px;
  }

  .designer-detail {
    height: 300px;
    padding: 30px;
    margin: 8px;
    background: rgba(255,255,255, 0.85);
  }

  .designer-detail h2 {
    font-size: 3.5em;
    line-height: 1.3em;
  }

   .designer-detail h3 {
    font-size: 2.5em;
    line-height: 1.3em;
    color: #949494;
  }

   .designer-detail h4 {
    font-size: 2.5em;
    color: #949494;
    }

  body.list .container {
    width: 100%;
  }

  body.designers .container {
    width: 100%;
  }

  .container {
  width:100% !important;
  }

  #designer-list {
    padding: 40px;
    padding-top: 0px;
    margin-bottom: 150px;
    float: left;
  }

  img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  img::-moz-selection {
    background-color: transparent;
    color: #000;
  }

  img::selection {
    background-color: transparent;
    color: #000;
  }


  .designer-detail-list-page {
    height: 300px;
    padding: 30px;
    margin: 8px;
    background: rgba(255,255,255, 0.85);
  }
  
.designer-detail-list-page h2 {
    color: #000000 !important;
    font-size: 3.2em !important;
    font-weight: 700 !important;
    line-height: 1.3em !important;
    margin-top: 1px !important;
    padding-bottom: 1px !important;
    text-align: left !important;
    text-transform: none !important;
}

  .designer-detail-list-page h3 {
    font-size: 2.5em;
    line-height: 1.3em;
    color: #949494;
  }

  .designer-detail-list-page h4 {
    font-size: 2.5em;
    color: #949494;
    }

.view-buton-list-page {
    margin-left: 2px !important;
}
.view-buton-list-page, .remove-buton-list-page {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: 5px;
    color: #FFFFFF;
    float: left;
    font-size: 2.7em;
    margin: 0;
    padding: 53px 25px 47px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 443px !important;
}