body,.aui {
	background: #fff;
	color: #444;
	overflow: hidden !important;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
 }

#wrapper, .aui .container-fluid {
    padding: 0px;
}

.aui .site-navigation {
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    height: 110px;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.aui #navigation .navbar-inner {
	padding: 0px 10px;
}

.aui #navigation ul {
	width: 100%;
}

.aui .nav-collapse, .aui .nav-collapse.collapse {
	overflow: visible; 
}

.aui #navigation ul li {
    background: none repeat scroll 0 0 #D7D7D7 !important;
    float: left;
	margin: 0;
    width: 33.3%;
}

.aui #navigation .nav li > a, .aui #navigation .nav > .active > a {
    
    border-right-width:0px;
    font-size: 3.1em;
    padding: 60px 10px;
    text-align: center;
	font-weight: 700;
	color: #000000 !important;
	text-shadow: none;
	white-space: nowrap;
}

#add-round {
	margin-top: 0px;
	left: 65% !important;
	position: absolute;
}

#designer-box {
	margin-top: 0px;
}

div.errorDialog {
	width: 25em;
	margin: 4em auto 0 auto;
	border: 1px solid #CCC;
	border-right-color: #999;
	border-left-color: #999;
	border-bottom-color: #BBB;
	border-top: #B00100 solid 4px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background-color: white;
	padding: 7px 4em 0 4em;
}


.aui .close, .aui .btn.close {
	font-size: 70px;
	line-height: 52px;
	margin-top: 25px;
}

.shortlist-portlet .portlet-content {
	background:#ECECEC;
}

.image-viewer.well {
	top:0px !important;
}

.clear {clear:both;}



.aui #navigation .nav li>a, .aui #navigation .nav>.active>a {
	font-size:2.6em;
}

.designer-list-item {
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 10px;
	margin-top: 3px;
}



.aui #navigation .navbar-inner {
	padding: 0 0px;
}

.aui #navigation ul li{
	width:33%;
}

.aui .navbar .nav {
	margin:0px;
}

.aui #navigation .navbar-inner {
	padding: 0 0px;
}

 .aui #myGallery img {
    border: 0 none;
    height: 500px;
    max-width: 965px;
    vertical-align: middle;
}