@charset "utf-8";
/* CSS Document */
html, body {
  width: 100% !important;
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important; }

#new_main {
  width: 94% !important;
  height: auto !important;
  padding: 10% 3% 1% 0% !important;
  margin: 0 auto !important; }

.new_symbol {
  width: 80% !important;
  height: auto !important;
  margin: 5% auto 5% !important; }

.new_symbol img {
  width: 100% !important;
  height: auto !important;
  margin: 0 auto !important; }

.new_heading {
  font-family: 'Kameron', sans-serif !important;
  font-size: 26px !important;
  color: #020202 !important;
  text-align: center !important;
  font-weight: normal !important;
  line-height: 30px !important; }

.new_email {
  width: 100% !important;
  height: auto !important;
  margin: 5% auto 0% !important; }

.new_email_field {
  width: 45% !important;
  height: auto !important;
  font-family: 'Kameron', serif !important;
  font-size: 17px !important;
  color: #535250 !important;
  background: #fff !important;
  border: #231f20 solid 1px !important;
  padding: 2.3% 1% !important;
  border-radius: 0 !important;
  text-align: center; }

.new_start {
  width: 30% !important;
  height: auto !important;
  margin: 5% auto 0% !important;
  background: #f2e701 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px !important;
  color: #000 !important;
  font-weight: normal !important;
  text-align: center !important;
  border-radius: 5px !important;
  padding: 1.5% 0% !important;
  cursor: pointer !important;
  text-shadow: none !important;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.37); }

@media screen and (max-width: 480px) {
  .new_symbol {
    width: 70% !important;
    margin: 10% auto 5% !important; }

  .new_heading {
    font-size: 26px !important; }

  .new_email {
    margin: 5% 0% 5% 0% !important; }

  .new_email_field {
    width: 50% !important;
    font-size: 17px !important;
    padding: 3% 2% !important; }

  .new_start {
    width: 25% !important;
    margin: 5% auto 0% !important;
    font-size: 17px !important;
    padding: 2% 0% !important; } }
@media screen and (max-width: 414px) {
  .new_symbol {
    width: 70% !important;
    margin: 10% auto 5% !important; }

  .new_heading {
    font-size: 26px !important; }

  .new_email {
    margin: 5% 0% 5% 0% !important; }

  .new_email_field {
    width: 55% !important;
    font-size: 17px !important;
    padding: 3% 5% !important; }

  .new_start {
    width: 25% !important;
    margin: 5% auto 0% !important;
    font-size: 17px !important;
    padding: 2% 0% !important; } }
@media screen and (max-width: 400px) {
  .new_symbol {
    width: 70% !important;
    margin: 10% auto 5% !important; }

  .new_heading {
    font-size: 23px !important; }

  .new_email {
    margin: 8% 0% 5% 0% !important; }

  .new_email_field {
    width: 55% !important;
    font-size: 16px !important;
    padding: 3% 3% !important; }

  .new_start {
    width: 27% !important;
    margin: 5% auto 0% !important;
    font-size: 18px !important;
    padding: 2% 0% !important; } }
@media screen and (max-width: 375px) {
  .new_symbol {
    width: 70% !important;
    margin: 10% auto 5% !important; }

  .new_heading {
    font-size: 23px !important; }

  .new_email {
    margin: 8% 0% 5% 0% !important; }

  .new_email_field {
    width: 55% !important;
    font-size: 16px !important;
    padding: 3% 3% !important; }

  .new_start {
    width: 27% !important;
    margin: 5% auto 0% !important;
    font-size: 18px !important;
    padding: 2% 0% !important; } }
@media screen and (max-width: 360px) {
  .new_symbol {
    width: 70% !important;
    margin: 10% auto 5% !important; }

  .new_heading {
    font-size: 21px !important; }

  .new_email {
    margin: 8% 0% 5% 0% !important; }

  .new_email_field {
    width: 55% !important;
    font-size: 14px !important;
    padding: 3% 3% !important; }

  .new_start {
    width: 27% !important;
    margin: 5% auto 0% !important;
    font-size: 15px !important;
    padding: 2% 0% !important; } }
@media screen and (max-width: 320px) {
  .new_symbol {
    width: 70% !important;
    margin: 10% auto 5% !important; }

  .new_heading {
    font-size: 18px !important; }

  .new_email {
    margin: 8% 0% 5% 0% !important; }

  .new_email_field {
    width: 55% !important;
    font-size: 13px !important;
    padding: 3% 3% !important; }

  .new_start {
    width: 27% !important;
    margin: 5% auto 0% !important;
    font-size: 14px !important;
    padding: 2% 0% !important; } }
a {
  text-decoration: none !important;
  outline: none !important;
  text-shadow: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: transparent !important; }

a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: transparent !important; }

* {
  /* Prevent any object from being highlighted upon touch event*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; }

button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
  border: 0 !important; }

