<nav class="$nav_css_class navbar site-navigation" id="navigation" role="navigation">
	<div class="navbar-inner">
		<div class="collapse nav-collapse">
		<ul role="menubar" class="nav nav-collapse" aria-label="Site Pages" id="yui_patched_v3_11_0_1_1398942912515_271">
		 <li role="presentation" id="layout_2" class="lfr-nav-item">
		 	 <a role="menuitem" href="http://made.cloudtags.com:9090/login" class="" aria-labelledby="layout_2"> <span> Login </span> </a> 
		 </li> 
		 <li role="presentation" id="layout_3" class="lfr-nav-item">
		 	 <a role="menuitem" href="http://made.cloudtags.com:9090/shortlist" class="" aria-labelledby="layout_3" id="yui_patched_v3_11_0_1_1398942912515_270"> <span> Shortlist </span> </a> 
		 	 </li> 
		 	 <li role="presentation" id="layout_4" class="lfr-nav-item"> 
		 	 <a role="menuitem" href="http://made.cloudtags.com:9090/i-m-ready" class="" aria-labelledby="layout_4"> <span> I M Ready </span> </a> 
		 	 </li> 
		 	 </ul>
		</div>
	</div>
</nav>

<script>
	Liferay.Data.NAV_LIST_SELECTOR = '.navbar-inner .nav-collapse > ul';
</script>